body {
  margin: 0;
  display: flex;
  background-color: #9933ff !important;
  justify-content: center;
}

#enviado {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  height: 150px;
  width: 90%;
  align-items: center;
  flex-direction: column;
}

#email {
  width: 100%;
  height: 100%;
}

#texto {
  color: #fff;
}

#enviarMais {
  background-color: #00ff99;
  border: 0;
}

#enviarMais:hover {
  background-color: #00bd71;
  border: 0;
}

#sair {
  background-color: #ff2c3d;
  border: 0;
}

#sair:hover {
  background-color: #f70a1d;
  border: 0;
}
