.jumbotron {
  background: #9933ff;
  color: #fff;
  border-radius: 0px;
}
.jumbotron-sm {
  padding-top: 24px;
  padding-bottom: 24px;
}
.jumbotron small {
  color: #fff;
}
.h1 small {
  font-size: 24px;
}

#corbotao {
  background-color: #00ff99;
  border: 0;
}

#corbotao:hover {
  background-color: #00bd71;
  border: 0;
}

#corbotao2 {
  background-color: #ff2c3d;
  border: 0;
}

#corbotao2:hover {
  background-color: #f70a1d;
  border: 0;
}

#corsair {
  color: #fff;
}
